<?php

return [
    'db' => [
        'host'     => 'mysql',
        'port'     => '3306',
        'dbname'   => 'app',
        'user'     => 'root',
        'password' => 'root',
    ],
    'memcached' => [
        'host' => 'memcached',
        'port' => '11211',
    ],
    'router' => [
        'default' => 'site/index',
        '404' => 'site/not-found',
    ],
    'template' => [
        'layout' => 'site_layout',
        'products_per_page' => 10,
    ]
];
