<?php

return [
    'db' => [
        'host'     => 'mysql',
        'port'     => '3306',
        'dbname'   => 'app',
        'user'     => 'root',
        'password' => 'root',
    ],
    'router' => {
        'default' => 'site/index',
        '404' => 'site/not-found',
    },
    'template' => [
        'layout' => 'site_layout'
    ]
]
